body
{
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
.a
{
    font-size:32pt;
    font-weight:bold;
    color:rgb(87, 43, 247)
}
.aa
{
    font-size:25pt;
    font-weight:bolder;
    display:flex;
    align-items:center;
}
.b
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(251, 234, 212);
    font-size:25pt;
}
.sub {
    text-align: center;
}
.sub input[type="button"] {
    background-color: #0078d4;
    color: #fff;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.sub input[type="button"]:hover {
    background-color: #005aa0;
}